@charset "utf-8";
/* CSS Document */
header{
	width: 100%;height: 70px;
}
.logo{
	padding-top: 15px
}
.social{
	padding-top: 20px
}
.menu{padding-top: 25px }
.menu ul{
	margin: 0;padding: 0;list-style: none;display: flex
}
.menu ul li a{
	padding: 10px 20px;text-decoration: none;color:#585858;border-radius: 20px
}
.menu ul li a:hover{
	background-color: darkred;color:wi
}
main{
	width: 100;min-height: 800px
}
.gach-chan{
	border-bottom: 3px solid darkred
}
.text-do{
	color:darkred
}
.vien-do{
	border:1px solid darkred;position: relative;overflow: hidden
}
.icon{
	position: absolute;width: 80%;height: 40px;left: 10%;top:-12%;display: flex;justify-content: space-around;transform: all 1s
}
.icon a{
 width: 40px;height: 40px;background-color: #DBDBDB;border-radius: 50%;display: flex;justify-content: center;align-items: center;text-decoration: none;color:darkred
}
.icon a:hover{
	background-color: darkred;color:white
}
.vien-do:hover .icon{
	top: 40%
}
.sp{
	padding: 0 20px
}
.vien-do:hover img{
	opacity: 50%
}
#product{
	width: 100%;min-height: 500px;background: url("../../../../../../New folder/bg2.png");background-repeat: no-repeat;background-size: cover;background-position: center bottom
}
.vien-trang{
	border: 1px solid white;display: flex;flex-direction: column; justify-content: center;align-items: center;height: 150px
}
.vien-trang a{text-decoration: none;color:darkred
}
.vien-trang a:hover{
	color:white
}
.pt-30{
	padding-top: 30px
}
#contact{
	width: 100%;min-height:500px;background: url("../../../../../../New folder/Banner2.png");background-repeat: no-repeat;background-position: center center;background-size: cover
}
.bong{
	boder:1px solid gray ; width: 100%;min-height: 400px;box-shadow: 5px 5px 5px gray; padding: 40px
}
.form-control{
	padding: 8px;margin-bottom: 10px;width: 100%
}
